@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-morpheus: "Morpheus", sans-serif;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@font-face {
    font-family: "Morpheus";
    src: url("/fonts/morpheus.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

.text-gradient {
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
    background-clip: text;
    color: transparent;
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}

.mask-radial-faded {
    mask-image: radial-gradient(circle at center center, #171717, transparent 100%);
}
